.image0 {
    background-image: url("../assets/0.png");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image1 {
    background-image: url("../assets/1.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image2 {
    background-image: url("../assets/2.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image3 {
    background-image: url("../assets/3.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image4 {
    background-image: url("../assets/4.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image5 {
    background-image: url("../assets/5.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image6 {
    background-image: url("../assets/6.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image7 {
    background-image: url("../assets/7.png");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image8 {
    background-image: url("../assets/8.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image9 {
    background-image: url("../assets/9.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image10 {
    background-image: url("../assets/10.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image11 {
    background-image: url("../assets/11.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-position: center;
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    position: relative;
}

.image12 {
    background-image: url("../assets/12.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image13 {
    background-image: url("../assets/13.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image14 {
    background-image: url("../assets/14.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image15 {
    background-image: url("../assets/15.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image16 {
    background-image: url("../assets/16.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.image17 {
    background-image: url("../assets/17.png");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}
.image18 {
    background-image: url("../assets/18.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}
.image19 {
    background-image: url("../assets/19.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}
.image20 {
    background-image: url("../assets/20.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}
.image21 {
    background-image: url("../assets/21.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}
.image22 {
    background-image: url("../assets/22.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}
.image23 {
    background-image: url("../assets/23.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}
.image24 {
    background-image: url("../assets/24.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}
.image25 {
    background-image: url("../assets/25.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}
.hero-head {
    margin-top: 2%;
}

.columns {
    width: 100%;
}

.box {
    background-color: rgba(18,18,18,.4);
    color: white;
    margin: 0 0 0 0 !important;
    width: 20%;
    height: 400px;
    border-radius: 0%;
}

table{
    background-color: rgba(0, 0, 0, 0.3) !important;
    color:white !important;
}

.text-white{
    color:white !important;
}

.box>h1 {
    color: white;
    opacity: 1 !important;
}
.box> .columns > .column >h1{
    color: white;
    opacity: 1 !important;
}

::placeholder {
    color: white !important;
    opacity: 1 !important;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white !important;
    opacity: 1 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white !important;
    opacity: 1 !important;
}

.box>.columns>.column>input {
    background-color: #2d2d2d !important;
    color: white;
    border-color: #2d2d2d;
    opacity: 1 !important;
}
button{
    background-color: #2d2d2d !important;
}
.is-scrollable{
    overflow-y:scroll;
    scrollbar-width: thin;
    scrollbar-color: grey darkgrey;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  aside { 
    position:  absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 200px; 
    background: rgba(45,45,45,0.66); 
    padding: 8px;
    color: #FFFFFF;
}